$primary-color: #227272;
$secondary-color: #ff652f;

* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body {
    background: $primary-color;
    color: #ffff;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}
h1, h2, h3 {
    font-weight: 400;
}

a {
    color: #ffff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1 rem;
}

main {
    height: 100%;
    width: 100%;

    .social-icons {
        position: fixed;
        bottom: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
}